.lc-button {
  --border-width: 1px;
  --height: 40px;

  &:where(&).big {
    --height: 44px;
  }

  height: var(--height);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  border: var(--border-width) solid var(--color-button-secondary-border);
  border-radius: var(--border-radius);
  outline: none;

  color: var(--color-button-tertiary-fg);
  font-size: var(--text-size-md);
  font-weight: var(--text-weight-medium);
  line-height: var(--text-line-height-md);

  padding-inline: calc(4 * var(--unit));

  &:has(svg) {
    padding-left: calc(3.5 * var(--unit));
    svg {
      margin-right: var(--unit);
    }
  }

  background: var(--color-button-secondary-bg);

  &:hover {
    cursor: pointer;
    background: var(--color-button-secondary-bg-hover);
  }

  &:focus {
    box-shadow: 0 0 0 calc(2 * var(--unit)) #98a2314;
  }

  :where(&):not(.primary) {
    box-shadow: var(--shadow-xs);
  }

  :where(&).primary {
    border: none;
    background: var(--color-button-primary-bg);
    color: white;

    &:hover {
      background: var(--color-button-primary-bg-hover);
    }

    &:focus {
      box-shadow: 0 0 0 calc(2 * var(--unit)) #9e77ed24;
    }
  }

  :where(&) {
    &.active,
    &.active-text {
      color: var(--color-brand);
    }

    &.active {
      border-color: var(--color-brand);
    }
  }

  :where(.lc-button-group) & {
    border-radius: 0;

    &:not(:first-of-type) {
      margin-left: calc(-1 * var(--border-width));
    }

    &:first-of-type {
      border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    &:last-of-type {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }
  }
}

.lc-button-group {
  display: flex;
}
