.lc-thumbnail {
  background: var(--color-gray-100);
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.lc-thumbnail__inner {
  position: relative;
  width: 100%;
  height: 100%;

  > svg {
    color: var(--color-gray-400);
    width: 100%;
    height: 100%;
  }

  > img {
    aspect-ratio: 16 / 9;
    width: 100%;
    background: var(--color-gray-200);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
  }
}

.lc-thumbnail__timestamp {
  position: absolute;
  bottom: calc(2 * var(--unit));
  right: calc(2 * var(--unit));
  display: inline-flex;
  align-items: center;
  border-radius: var(--border-radius-sm);
  background: var(--color-gray-900);
  padding: calc(0.5 * var(--unit)) calc(1.5 * var(--unit));
  font-size: var(--text-size-xs);
  line-height: var(--text-line-height-xs);
  font-weight: var(--text-weight-medium);
  color: #fff;
}
