---
import UnknownIcon from '@tabler/icons/3d-cube-sphere.svg?sprite';
import VideoIcon from '@tabler/icons/video.svg?sprite';
import AudioIcon from '@tabler/icons/volume.svg?sprite';
import { formatSeconds, type Optional } from '../../util';

type Props = {
  lqUrl?: Optional<string>;
  url?: Optional<string>;
  placeholder?: 'video' | 'audio' | undefined;
  lengthSeconds?: Optional<number>;
};

const { lqUrl, url, placeholder, lengthSeconds } = Astro.props;
---

<div class="relative">
  {
    url ? (
      <img
        src={url}
        class="aspect-video w-full bg-gray-200 bg-contain bg-center bg-no-repeat object-contain"
        style={{
          backgroundImage: `url(${lqUrl})`,
        }}
      />
    ) : (
      <div class="flex aspect-video w-full items-center justify-center bg-gray-100 text-gray-300 [&_svg]:scale-[3]">
        <Fragment
          set:html={
            placeholder === 'video'
              ? VideoIcon
              : placeholder === 'audio'
                ? AudioIcon
                : UnknownIcon
          }
        />
      </div>
    )
  }
  {
    lengthSeconds ? (
      <span class="absolute bottom-2 right-2 inline-flex items-center rounded-md bg-gray-900 px-1.5 py-0.5 text-xs font-medium text-white">
        {formatSeconds(lengthSeconds)}
      </span>
    ) : null
  }
</div>
