export ZXCVBN_MINIMUM_SCORE=0

export S3_INGEST_ENDPOINT=
export S3_INGEST_BUCKET=
export S3_INGEST_ACCESS_KEY_ID=
export S3_INGEST_SECRET_ACCESS_KEY=

export S3_PUBLIC_ENDPOINT=
export S3_PUBLIC_BUCKET=
export S3_PUBLIC_ACCESS_KEY_ID=
export S3_PUBLIC_SECRET_ACCESS_KEY=

export CLOUDFLARE_ACCOUNT_ID=
export CLOUDFLARE_API_TOKEN=

# export TF_VAR_linode_token=
# export KUBECONFIG=$PWD/kubeconfig.yaml
