source_up_if_exists
source ./bin/activate-hermit

# https://github.com/cashapp/hermit-packages/issues/309#issuecomment-1506190116
mkdir -p .hermit/node/lib

source_env_if_exists ./.envrc.local

git config --local core.hooksPath $PWD/.githooks
git config --local gpg.ssh.allowedSignersFile $PWD/allowed_signers

# Set environment variables
set -a
: ${COMPOSE_PROJECT_NAME:=letschurch_dev}

: ${HOST_WEB_PORT:=127.0.0.1:4000}
: ${HOST_GATEWAY_PORT:=127.0.0.1:4100}
: ${HOST_EXTERNAL_HOOKS_PORT:=127.0.0.1:4200}
: ${HOST_TEMPORAL_UI_PORT:=127.0.0.1:4400}
: ${HOST_TEMPORAL_PORT:=127.0.0.1:4401}
: ${HOST_ES_PORT:=127.0.0.1:4500}
: ${HOST_KIBANA_PORT:=127.0.0.1:4501}
: ${HOST_MAILPIT_WEB_PORT:=127.0.0.1:4600}
: ${HOST_MAILPIT_SMTP_PORT:=127.0.0.1:4601}
: ${HOST_MAILPIT_SMTPS_PORT:=127.0.0.1:4602}
: ${HOST_IMGPROXY_PORT:=127.0.0.1:4700}
: ${HOST_APPSMITH_PORT:=127.0.0.1:4800}
: ${HOST_PG_PORT:=127.0.0.1:5432}
: ${HOST_PGWEB_PORT:=127.0.0.1:5001}
: ${HOST_METABASE_PORT:=127.0.0.1:5002}

: ${ZXCVBN_MINIMUM_SCORE:=3}

# openssl rand -hex 64
: ${JWT_SECRET:=a5f09624d6106947a62e904ef1f31d880e3c4dde7ac74d67828c197a7f72ec973ca5ccae1210ddad78e590b3734511c0a943fe8ed366640ffb09d5edc9da097a}
: ${IMGPROXY_KEY:=ce64d4682be60431078d48cc71a98679ea90a91547f492cd549c1e32ce5d7d22a75583564af74712276d87966b7f6dc1e3fef9b6e627d365415879defab6da73}
: ${IMGPROXY_SALT:=715594d026d44c1476569fd74000f919c2595a3f9937704ebb541c26e7672edf7fd3db90243723cb1525b915cc5c672a4cb53190d2793991ad8c4a1fa418be80}

: ${WEB_URL:=http://localhost:${HOST_WEB_PORT##*:}}
: ${HOST_GATEWAY_URL:=http://localhost:${HOST_GATEWAY_PORT##*:}}
: ${MEDIA_URL:=https://public_media_url}
: ${IMGPROXY_URL:=http://localhost:${HOST_IMGPROXY_PORT##*:}}

: ${PG_USER:=letschurch}
: ${PG_PASSWORD:=password}
: ${PG_DATABASE:=$PG_USER}
: ${HOST_DATABASE_URL:=postgres://$PG_USER:$PG_PASSWORD@localhost:${HOST_PG_PORT##*:}/$PG_DATABASE}

: ${HOST_ELASTICSEARCH_URL:=http://localhost:${HOST_ES_PORT##*:}}

: ${PS_API_URL:=https://api.positionstack.com}
: ${PS_ACCESS_KEY:=access_key}

: ${SENTRY_WEB_SERVER_DSN:=https://foo@bar.ingest.sentry.io/baz}
: ${SENTRY_GATEWAY_DSN:=https://foo@bar.ingest.sentry.io/baz}
: ${SENTRY_BACKGROUND_WORKER_DSN:=https://foo@bar.ingest.sentry.io/baz}
: ${SENTRY_TRANSCODE_WORKER_DSN:=https://foo@bar.ingest.sentry.io/baz}
: ${SENTRY_TRANSCRIBE_WORKER_DSN:=https://foo@bar.ingest.sentry.io/baz}
: ${SENTRY_IMPORT_WORKER_DSN:=https://foo@bar.ingest.sentry.io/baz}

: ${S3_INGEST_REGION:=us-east-1}
: ${S3_INGEST_ENDPOINT:=s3endpoint}
: ${S3_INGEST_BUCKET:=s3bucket}
: ${S3_INGEST_ACCESS_KEY_ID:=accesskeyid}
: ${S3_INGEST_SECRET_ACCESS_KEY:=secretaccesskey}

: ${S3_PUBLIC_REGION:=us-east-1}
: ${S3_PUBLIC_ENDPOINT:=s3endpoint}
: ${S3_PUBLIC_BUCKET:=s3bucket}
: ${S3_PUBLIC_ACCESS_KEY_ID:=accesskeyid}
: ${S3_PUBLIC_SECRET_ACCESS_KEY:=secretaccesskey}

: ${RCLONE_CONFIG_LCDEVS3_TYPE:=s3}
: ${RCLONE_CONFIG_LCDEVS3_PROVIDER:=Other}
: ${RCLONE_CONFIG_LCDEVS3_ENDPOINT:=$S3_PUBLIC_ENDPOINT}
: ${RCLONE_CONFIG_LCDEVS3_ACCESS_KEY_ID:=$S3_PUBLIC_ACCESS_KEY_ID}
: ${RCLONE_CONFIG_LCDEVS3_SECRET_ACCESS_KEY:=$S3_PUBLIC_SECRET_ACCESS_KEY}

set +a
# End setting environment variables

path_add NAVI_PATH ./navi
