source_up_if_exists
source_env_if_exists ./.envrc.local

# Set environment variables
set -a
: ${COMPOSE_PROJECT_NAME:=letschurch_dev}

: ${HOST_WEB_PORT:=4000}
: ${HOST_GATEWAY_PORT:=4100}
: ${HOST_AUTH_BRIDGE_PORT:=4200}
: ${HOST_ORY_KRATOS_PUBLIC_PORT:=4300}
: ${HOST_ORY_KRATOS_ADMIN_PORT:=4301}
: ${HOST_MAILHOG_WEB_PORT:=4400}
: ${HOST_MAILHOG_SMTP_PORT:=4401}
: ${HOST_MAILHOG_SMTPS_PORT:=4402}
: ${HOST_PG_PORT:=5432}

: ${PG_USER:=letschurch}
: ${PG_PASSWORD:=password}
: ${PG_DATABASE:=$PG_USER}
: ${HOST_DATABASE_URL:=postgres://$PG_USER:$PG_PASSWORD@localhost:$HOST_PG_PORT/$PG_DATABASE}

: ${AUTH_BRIDGE_SECRET:=myadminsecretkey}

set +a
# End setting environment variables

path_add NAVI_PATH ./navi
