export ZXCVBN_MINIMUM_SCORE=0

export SENTRY_WEB_SERVER_DSN=https://foo@bar.ingest.sentry.io/baz
export SENTRY_GATEWAY_DSN=https://foo@bar.ingest.sentry.io/baz
export SENTRY_BACKGROUND_WORKER_DSN=https://foo@bar.ingest.sentry.io/baz
export SENTRY_TRANSCODE_WORKER_DSN=https://foo@bar.ingest.sentry.io/baz
export SENTRY_TRANSCRIBE_WORKER=https://foo@bar.ingest.sentry.io/baz
export SENTRY_IMPORT_WORKER=https://foo@bar.ingest.sentry.io/baz

export MEDIA_URL=https://public_media_url

PS_ACCESS_KEY=

export S3_INGEST_ENDPOINT=
export S3_INGEST_BUCKET=
export S3_INGEST_ACCESS_KEY_ID=
export S3_INGEST_SECRET_ACCESS_KEY=

export S3_PUBLIC_ENDPOINT=
export S3_PUBLIC_BUCKET=
export S3_PUBLIC_ACCESS_KEY_ID=
export S3_PUBLIC_SECRET_ACCESS_KEY=

KUBECONFIG=$PWD/infra/kubeconfig.yaml

if [ -f $PWD/infra/kubeconfig.yaml ]; then
  export KUBECONFIG
fi

watch_file $KUBECONFIG
