seed-data/lcdevs3/*/*/* filter=lfs diff=lfs merge=lfs -text
seed-data/llm/*.json filter=lfs diff=lfs merge=lfs -text
packages/lets.bible/seed/embeddings/*.bin filter=lfs diff=lfs merge=lfs -text
packages/lets.bible/seed/passage-embeddings/*.bin filter=lfs diff=lfs merge=lfs -text
