@layer reset, base, layout, components, util;

@import '../../node_modules/sanitize.css/sanitize.css' layer(reset);
@import '../../node_modules/sanitize.css/typography.css' layer(reset);

@import './pages/auth.css' layer(components);
@import './pages/media.css' layer(components);

@import './components/avatar.css' layer(components);
@import './components/button.css' layer(components);
@import './components/cta.css' layer(components);
@import './components/footer.css' layer(components);
@import './components/header.css' layer(components);
@import './components/icon.css' layer(components);
@import './components/input.css' layer(components);
@import './components/media-grid.css' layer(components);
@import './components/notification.css' layer(components);

@custom-media --sm (width >= 640px);
@custom-media --md (width >= 768px);
@custom-media --lg (width >= 1024px);
@custom-media --xl (width >= 1280px);
@custom-media --2xl (width >= 1536px);

:root {
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;

  --unit: 0.25rem;

  --border-radius: calc(2 * var(--unit));
  --easing-curve: cubic-bezier(0.19, 1, 0.22, 1);

  --color-brand: #6366f1;
  --color-brand-50: #eef2ff;
  --color-brand-200: #c7d2fe;
  --color-brand-300: #d6bbfb;
  --color-brand-700: #4338ca;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-900: #101828;
  --color-green-600: #079455;
  --color-red-300: #fda29b;
  --color-red-500: #f04438;

  --color-bg-primary: #fff;
  --color-bg-secondary: var(--color-gray-50);
  --color-border-brand: var(--color-brand-300);
  --color-border-brand-ring: #9e77ed24;
  --color-border-primary: var(--color-gray-300);
  --color-button-primary-bg: var(--color-brand);
  --color-button-primary-bg-hover: var(--color-brand-700);
  --color-button-secondary-bg: #fff;
  --color-button-secondary-bg-hover: var(--color-gray-50);
  --color-button-secondary-border: var(--color-gray-300);
  --color-button-tertiary-fg: var(--color-gray-600);
  --color-success: var(--color-green-600);
  --color-error-300: var(--color-red-300);
  --color-error-500: var(--color-red-500);

  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
  --shadow-lg: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);

  --text-weight-regular: 400;
  --text-weight-medium: 500;
  --text-weight-semibold: 600;
  --text-weight-bold: 700;

  --text-size-xs: 0.75rem;
  --text-size-sm: 0.875rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.125rem;
  --text-size-xl: 1.25rem;
  --text-size-display-xs: 1.5rem;
  --text-size-display-sm: 1.875rem;
  --text-size-display-md: 2.25rem;
  --text-size-display-lg: 3rem;
  --text-size-display-xl: 3.75rem;

  --text-line-height-xs: 1.125rem;
  --text-line-height-sm: 1.25rem;
  --text-line-height-md: 1.5rem;
  --text-line-height-lg: 1.75rem;
  --text-line-height-xl: 1.875rem;
  --text-line-height-display-xs: 2rem;
  --text-line-height-display-sm: 2.375rem;
  --text-line-height-display-md: 2.75;
  --text-line-height-display-lg: 3.75rem;
  --text-line-height-display-xl: 4.5rem;

  --text-tracking-display: -2%;

  --header-height: calc(16 * var(--unit));
}

@layer base {
  body,
  #lc-root {
    background: var(--color-bg-primary);
  }

  a {
    color: var(--color-brand);
    text-decoration: none;
    font-weight: var(--text-weight-semibold);
  }
}

@layer layout {
  .lc-container {
    --width: 100vw;
    --padding: var(--unit);

    background: var(--color-bg-primary);
    padding-inline: var(--padding);

    @media (--sm) {
      --padding: calc(2 * var(--unit));
    }

    @media (--md) {
      --width: var(--md);
      --padding: calc(32 * var(--unit));
    }
  }
}

@layer util {
  .flip-x {
    transform: scaleX(-1);
  }
}
