.lc-media__meta {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--unit));
  margin-top: calc(2 * var(--unit));
  --box-padding: var(--unit) calc(2 * var(--unit));
}

.lc-media__meta__title {
  font-size: var(--text-size-display-xs);
  line-height: var(--text-line-height-display-xs);
  font-weight: var(--text-weight-semibold);
  margin-block: 0;
}

.lc-media__meta__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
}

.lc-media__meta__actions > * {
  display: flex;
  flex-direction: row;
  gap: calc(2 * var(--unit));
  &:last-child {
    margin-inline-start: calc(2 * var(--unit));
  }
}

.lc-media__meta__actions__channel {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-gray-600);
  font-weight: var(--text-weight-medium);
}

.lc-media__meta__transcript {
  position: relative;
  display: block;
  height: calc(28 * var(--unit));
  margin: 0;
  background: var(--color-gray-100);
  border-radius: var(--border-radius);
  transition: height 0.3s var(--easing-curve);
}

.lc-media__meta__transcript--expanded {
  height: calc(84 * var(--unit));
}

.lc-media__meta__transcript__scroll {
  height: 100%;
  margin: 0;
  overflow: auto;
  padding-bottom: calc(4 * var(--unit));
  scroll-behavior: smooth;
}

.lc-media__meta__transcript__segment {
  display: flex;
  flex-direction: row;
  gap: calc(2 * var(--unit));
  padding: var(--box-padding);

  & > dt {
    user-select: none;
    color: var(--color-gray-400);
    font-weight: var(--text-weight-medium);
    & > pre {
      margin: 0;
    }
  }

  & > dd {
    margin: 0;
  }

  &:hover {
    cursor: pointer;
    & > dt {
      color: var(--color-gray-600);
    }
  }
}

.lc-media__meta__transcript__segment--active {
  background: var(--color-brand-50);
}

.lc-media__meta__transcript__expand {
  width: 100%;
  height: calc(4 * var(--unit));
  border: none;
  background: var(--color-gray-300);
  color: var(--color-gray-600);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  position: absolute;
  left: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  cursor: pointer;

  & > svg {
    width: calc(4 * var(--unit));
    height: calc(4 * var(--unit));
    position: relative;
    bottom: 1px;

    :where(.lc-media__meta__transcript--expanded) & {
      transform: rotate(180deg);
      bottom: 0px;
    }
  }
}

.lc-media__meta__details {
  background: var(--color-gray-100);
  border-radius: var(--border-radius);
  padding: var(--box-padding);
}

.lc-media__meta__details__stats {
  display: flex;
  flex-direction: row;
  gap: calc(2 * var(--unit));
  background: var(--color-gray-100);
}

.lc-media__meta__details__stats__views {
  margin: 0;
  color: var(--color-gray-900);
  font-weight: var(--text-weight-medium);
}

.lc-media__meta__details__stats__date {
  margin: 0;
  color: var(--color-gray-600);
}

.lc-player-container {
  background: #151515;
}

lc-player {
  --media-width: 0;
  --media-height: 0;
  width: 100%;
  max-height: calc(100dvh - 2 * var(--header-height));
  aspect-ratio: var(--media-width) / var(--media-height);

  display: flex;
  flex-direction: column;
  justify-content: center;
}
