.lc-header {
  height: var(--header-height);
  display: flex;

  & > * {
    display: flex;
    align-items: center;
    gap: calc(8 * var(--unit));

    &:first-child {
      flex-grow: 1;
      justify-content: flex-start;
    }

    &:last-child {
      display: none;
      @media (--lg) {
        display: flex;
        flex-shrink: 1;
        justify-content: flex-end;
      }
    }
  }

  :where(&) {
    .lc-logo img {
      height: calc(var(--header-height) / 2);
    }

    .nav {
      color: var(--color-button-tertiary-fg);
      font-size: var(--text-size-md);
      font-weight: var(--text-weight-medium);
      line-height: var(--text-line-height-md);
    }
  }
}
