package components

type ButtonProps struct {
	Type    string
	Primary bool
	Class   string
	Href    string
}

templ Button(props ButtonProps) {
	<button
		if props.Type != "" {
			type={ props.Type }
		}
		class={ "lc-button", props.Class, templ.KV("primary", props.Primary) }
	>
		{ children... }
	</button>
}

templ ButtonLink(props ButtonProps) {
	<a class={ "lc-button", props.Class, templ.KV("primary", props.Primary) } href={ templ.URL(props.Href) }>
		{ children... }
	</a>
}
