.lc-cta {
  padding-block: calc(24 * var(--unit));
  background: var(--color-bg-secondary);
  display: flex;
  gap: var(--padding);

  :where(&) > :where(.left, .right) {
    &.left {
      flex-grow: 1;
    }

    &.right {
      flex-shrink: 1;
      display: flex;
      gap: calc(2 * var(--unit));
      padding-top: calc(2 * var(--unit));
    }
  }

  :where(&) {
    h2 {
      font-size: var(--text-size-display-lg);
      font-weight: var(--text-weight-semibold);
      line-height: var(--text-line-height-display-lg);
      letter-spacing: var(--text-tracking-display);
      color: var(--color-gray-900);
      margin: 0;
      margin-bottom: calc(5 * var(--unit));
      grid-column: 1 / 2;
    }

    p {
      grid-column: 1 / 2;
    }
  }
}
