.lc-input {
  --height: 44px;

  height: var(--height);
  border: 1px solid var(--color-border-primary);
  border-radius: var(--border-radius);

  color: var(--color-button-tertiary-fg);
  font-size: var(--text-md-size);
  font-weight: var(--text-medium);
  line-height: var(--text-md-line-height);

  :where(&) input {
    height: var(--height);
    padding: calc(2.5 * var(--unit)) calc(3.5 * var(--unit));
    border: none;
    background: none;
    outline: none;
  }

  &:focus-within {
    border-color: var(--color-border-brand);
    box-shadow: 0 0 0 calc(2 * var(--unit)) #9e77ed24;
  }

  &:where(:has(.lc-icon)) input {
    padding-left: calc(var(--unit));
  }

  :where(&) .lc-icon {
    transform: scale(calc(5 / 6)) translateY(calc(-1px));
    margin-inline-start: calc(2 * var(--unit));
  }
}
