.lc-input {
  --height: 44px;

  height: var(--height);
  border: 1px solid var(--border-color, var(--color-border-primary));
  border-radius: var(--border-radius);

  color: var(--color-button-tertiary-fg);
  font-size: var(--text-size-md);
  font-weight: var(--text-weight-medium);
  line-height: var(--text-line-height-md);

  display: flex;
  align-items: center;
  gap: var(--unit);

  :where(&) input {
    width: 100%;
    height: var(--height);
    padding: calc(2.5 * var(--unit)) calc(3.5 * var(--unit));
    border: none;
    background: none;
    outline: none;
  }

  &:focus-within {
    border-color: var(--border-color, var(--color-border-brand));
    box-shadow: 0 0 0 calc(2 * var(--unit)) var(--focus-color, #9e77ed24);
  }

  &:where(:has(.lc-icon)) input {
    padding-left: calc(var(--unit));
  }

  :where(&) .lc-icon {
    transform: scale(calc(5 / 6)) translateY(calc(-1px));
    margin-inline-start: calc(2 * var(--unit));
  }
}

.lc-labeled-input {
  display: flex;
  flex-direction: column;
}

.lc-labeled-input--error {
  --border-color: var(--color-error-300);
  --focus-color: #f0443824;
}

.lc-labeled-input__label {
  color: var(--color-gray-700);
  font-size: var(--text-size-sm);
  line-height: var(--text-line-height-sm);
  font-weight: var(--text-weight-medium);

  & + .lc-input {
    margin-top: calc(1.5 * var(--unit));
  }
}

.lc-labeled-input__hint {
  margin-top: calc(1.5 * var(--unit));
  color: var(--color-gray-600);
  font-size: var(--text-size-sm);
  line-height: var(--text-line-height-sm);
  font-weight: var(--text-weight-regular);

  :where(.lc-labeled-input--error) & {
    color: var(--color-error-500);
  }
}

.lc-labeled-checkbox {
  display: flex;
  flex-direction: row;
  gap: calc(2 * var(--unit));

  > input {
    width: calc(4 * var(--height));
    height: calc(4 * var(--height));
    accent-color: var(--color-brand);
  }
}

.lc-labeled-checkbox__label {
  color: var(--color-gray-700);
  font-size: var(--text-size-sm);
  line-height: var(--text-line-height-sm);
  font-weight: var(--text-weight-medium);
}
