.card {
  position: relative;
}

.titleLink {
  color: inherit;
  text-decoration: none;
  &::after {
    display: block;
    content: '';
    position: absolute;
    inset: 0;
  }
}

.value {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.icon {
  color: #adb5bd;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.uploadsTile {
  border-color: #74c0fc;
  background-color: #e7f5ff;
}

[data-theme='dark'] .uploadsTile {
  border-color: rgba(34, 139, 230, 0.35);
  background-color: rgba(34, 139, 230, 0.12);
}

.uploadsTile .icon {
  color: #228be6;
}

[data-theme='dark'] .uploadsTile .icon {
  color: #4dabf7;
}

.uploadsTile .title {
  color: #1971c2;
}

[data-theme='dark'] .uploadsTile .title {
  color: #74c0fc;
}

.uploadsTile .value {
  color: #1864ab;
}

[data-theme='dark'] .uploadsTile .value {
  color: #a5d8ff;
}

.uploadsTile .value .mantine-Text-root[data-c='dimmed'] {
  /* !important -- mantine override */
  color: #1c7ed6 !important;
}

[data-theme='dark'] .uploadsTile .value .mantine-Text-root[data-c='dimmed'] {
  /* !important -- mantine override */
  color: #4dabf7 !important;
}

.subscribersTile {
  border-color: #8ce99a;
  background-color: #ebfbee;
}

[data-theme='dark'] .subscribersTile {
  border-color: rgba(64, 192, 87, 0.35);
  background-color: rgba(64, 192, 87, 0.12);
}

.subscribersTile .icon {
  color: #40c057;
}

[data-theme='dark'] .subscribersTile .icon {
  color: #69db7c;
}

.subscribersTile .title {
  color: #2f9e44;
}

[data-theme='dark'] .subscribersTile .title {
  color: #8ce99a;
}

.subscribersTile .value {
  color: #2b8a3e;
}

[data-theme='dark'] .subscribersTile .value {
  color: #b2f2bb;
}

.membersTile {
  border-color: #b197fc;
  background-color: #f3f0ff;
}

[data-theme='dark'] .membersTile {
  border-color: rgba(112, 72, 232, 0.4);
  background-color: rgba(112, 72, 232, 0.15);
}

.membersTile .icon {
  color: #7048e8;
}

[data-theme='dark'] .membersTile .icon {
  color: #9775fa;
}

.membersTile .title {
  color: #5f3dc4;
}

[data-theme='dark'] .membersTile .title {
  color: #b197fc;
}

.membersTile .value {
  color: #4a1fb0;
}

[data-theme='dark'] .membersTile .value {
  color: #d0bfff;
}
