---
import Layout from './layout.astro';

type Props = {
  frontmatter: { title: string };
};
---

<Layout title={Astro.props.frontmatter.title}>
  <div class="mx-auto mt-5 max-w-3xl text-base leading-7 text-gray-700">
    <slot />
  </div>
</Layout>
