---
import { cn } from '../util';
---

<p class={cn('flex justify-center', Astro.props.class)}>
  <a
    href="https://www.zeffy.com/en-US/donation-form/5da9e1c3-a8e2-4bb4-817a-5dbbb968ec6b"
    class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
    target="_blank"
  >
    Donate to Let's Church
  </a>
</p>
