package pages

import (
	"lets.church/web/app/components"
	"lets.church/web/app/layouts"
)

templ Media() {
	@layouts.Main() {
		<main class="lc-container">
			main
		</main>
		@components.Cta(components.CtaProps{
			PrimaryText:   "Sign Up",
			PrimaryHref:   "/auth/register",
			SecondaryText: "Learn More",
			SecondaryHref: "/about",
		})
	}
}
