.lc-media__title {
  font-size: var(--text-size-display-xs);
  line-height: var(--text-line-height-display-xs);
  font-weight: var(--text-weight-semibold);
  margin-block: var(--unit);
}

.lc-media__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  margin-top: calc(2 * var(--unit));
}

.lc-media__actions > * {
  display: flex;
  flex-direction: row;
  gap: calc(2 * var(--unit));
  &:last-child {
    margin-inline-start: calc(2 * var(--unit));
  }
}

.lc-media__actions__channel {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-gray-600);
  font-weight: var(--text-weight-medium);
}

.lc-media__content {
  gap: calc(2 * var(--unit));
  margin-top: calc(4 * var(--unit));
  --top-height: 500px;
}

.lc-media__content__meta {
  --padding: calc(2 * var(--unit));
  padding: 0 var(--padding) var(--padding) var(--padding);
  background: var(--color-gray-100);
  border-radius: var(--border-radius);
  max-height: var(--top-height);
}

.lc-media__content__transcript {
  flex: 2;
  max-width: 500px;
  max-height: var(--top-height);
  overflow: auto;
  margin: 0;
  scroll-behavior: smooth;
  background: var(--color-gray-100);
  border-radius: var(--border-radius);
}

.lc-media__content__transcript__segment {
  display: flex;
  flex-direction: row;
  gap: calc(2 * var(--unit));
  padding: var(--unit) calc(2 * var(--unit));

  & > dt {
    user-select: none;
    color: var(--color-gray-400);
    font-weight: var(--text-weight-medium);
    & > pre {
      margin: 0;
    }
  }

  & > dd {
    margin: 0;
  }

  &:hover {
    cursor: pointer;
    & > dt {
      color: var(--color-gray-600);
    }
  }
}

.lc-media__content__transcript__segment--active {
  background: var(--color-brand-50);
}

.lc-media__content__meta__stats {
  display: flex;
  flex-direction: row;
  gap: calc(2 * var(--unit));
  padding: var(--padding) 0;
  position: sticky;
  top: 0;
  background: var(--color-gray-100);
}

.lc-media__content__meta__stats__views {
  margin: 0;
  color: var(--color-gray-900);
  font-weight: var(--text-weight-medium);
}

.lc-media__content__meta__stats__date {
  margin: 0;
  color: var(--color-gray-600);
}

.lc-player-container {
  background: #151515;
}

lc-player {
  --media-width: 0;
  --media-height: 0;
  width: 100%;
  max-height: calc(100dvh - 2 * var(--header-height));
  aspect-ratio: var(--media-width) / var(--media-height);

  display: flex;
  flex-direction: column;
  justify-content: center;
}
