.buttonLink {
  align-content: center;
}

.fullWidth {
  width: 100%;
}

.backLink {
  color: inherit;
}

[data-theme="dark"] .backLink {
  color: white;
}

.dashboardLogo {
  height: 1.5em;
  width: auto;
  position: relative;
  top: -0.125em;
  color: #6366f1;
}

[data-theme="dark"] .dashboardLogo {
  color: white;
}
