@import "tailwindcss";

/* TODO: Clean this up, add more colors, remove unused colors */

:root {
	--font-sans: "Inter Variable", sans-serif;
	--font-time: "Roboto Mono Variable", monospace;

	--page-bg: var(--color-zinc-950);
	--sidebar-bg: var(--color-zinc-950);
	--sidebar-border: var(--color-zinc-900);
	--card-bg: var(--color-zinc-900);
	--card-text: var(--color-white);
	--card-border: var(--color-white) / 0.1;
	--primary: var(--color-indigo-500);
	--primary-glow: var(--color-indigo-500);
	--text-primary: var(--color-white);
	--text-secondary: var(--color-zinc-300);
	--text-muted: var(--color-zinc-400);
	--bg-overlay: var(--color-white) / 0.05;
	--bg-overlay-strong: var(--color-white) / 0.15;
	--border-color: var(--color-white) / 0.1;
}

[data-theme="light"] {
	--page-bg: var(--color-gray-100);
	--sidebar-bg: var(--color-white);
	--sidebar-border: var(--color-gray-400) / 0.3;
	--card-bg: var(--color-white);
	--card-text: var(--color-black);
	--card-border: var(--color-gray-400) / 0.2;
	--primary: var(--color-indigo-500);
	--text-primary: var(--color-black);
	--text-secondary: var(--color-gray-500);
	--text-muted: var(--color-gray-500);
	--bg-overlay: var(--color-black) / 0.05;
	--bg-overlay-strong: var(--color-black) / 0.1;
	--border-color: var(--color-gray-400) / 0.2;
}

@utility bg-page {
	background-color: var(--page-bg);
}

@utility bg-sidebar {
	background-color: var(--sidebar-bg);
}

@utility bg-card {
	background-color: var(--card-bg);
}

@utility text-card {
	color: var(--card-text);
}

@utility border-sidebar {
	border-color: var(--sidebar-border);
}

@utility text-primary {
	color: var(--text-primary);
}

@utility text-secondary {
	color: var(--text-secondary);
}

@utility text-muted {
	color: var(--text-muted);
}

@utility bg-overlay {
	background-color: var(--bg-overlay);
}

@utility bg-overlay-strong {
	background-color: var(--bg-overlay-strong);
}

@utility border-default {
	border-color: var(--border-color);
}

@utility border-top-highlight {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: inherit;
		padding: 1px;
		background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.1) 0%,
			rgba(255, 255, 255, 0) 100%,
			transparent 100%
		);
		-webkit-mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		pointer-events: none;
	}
}

@utility glow-md {
	box-shadow: 0px 2px 12px 0px var(--primary-glow);
	backdrop-filter: blur(8px);
}

@utility aspect-media {
	aspect-ratio: var(--video-aspect-w, 16) / var(--video-aspect-h, 9);
}

@utility media-page-desktop {
	display: grid;
	grid-template-columns: minmax(
			0,
			calc(
				var(--video-max-height, 85vh) *
				var(--video-aspect-w, 16) /
				var(--video-aspect-h, 9)
			)
		) --spacing(92);
}
